@import url("https://use.frontawsome.com/releases/v6.5.1/css/all.css");  
html, a {
	text-decoration: none;
}
html, body {  
	width: 100%;
	height: 100%;
	margin: 0px;
	background: #F1F1F1;
	font-family: helvetica, sans-serif; 
}
.fakeBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: auto;
}
.container {
	align-self: center;
	position: relative;
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	padding-top: 60px;
	font-family: helvetica, sans-serif;
}
.container .card {
	position: relative;
	background-color: #303030;
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	max-width: 250px;
	width: 100%;
	height: auto;
	margin: 1rem;
	box-sizing: border-box;
	padding: 15px;
	font-family: helvetica, sans-serif;
	border-radius: 7px;
	animation: gradient 5s ease infinite;
}
.container .card .card-heading {
	margin-bottom: 0px;
}

@property --angle{
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.container .card::after, .container .card::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 50%;
	top:50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 4px; 
	border-radius: 7px; 
	background-image: conic-gradient(from var(--angle), #7b4397, #dc2430, #7b4397);
	animation: spin 5s linear infinite;
}
.container .card::before {
	filter: blur(1rem);
	opacity: 0.5;
}
.container .card .imgBx {
	position: relative;
	margin: 0 auto;
	max-width: 220px;
	width: 100%;
	height: auto;
	z-index: 1;
	padding-left: 6%;
}
.container .card .imgBx img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: auto;
}
.container .card .content {
	overflow: hidden;
}
.container .card .content h2 {
	position: relative;
	align-self: baseline;
	text-align: center;
	color: #F1F1F1;
	font-family: helvetica, sans-serif;
	margin-top: 3px;
}
.container .card .content-h {
	position: relative;
	align-self: baseline;
	text-align: center;
	color: #F1F1F1;
	opacity: 1;
	visibility: visible;
	font-family: helvetica, sans-serif;
}
.price-container {
	display: flex;
	flex-direction: row;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}
.price-container .price-s {
	text-decoration: underline;
  	text-underline-offset: -40%;
	color: red;
	font-style: italic;
	padding-right: 5px;
}
.price-container .price {
	color: #FFDF00;
	padding-left: 5px;
}
.container .card .content .card-desc {
	padding-left: 5px;
	padding-right: 5px;
	list-style-type: none;
	margin: 0;
	padding-top: 20px;
	font-weight: 800;
	font-size: 16px;
}
.head-container {
	gap: 25%;
	margin-top: 0px;
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: #000;
	width: 100%;
	align-items: center;
	height: 110px;
	justify-content: flex-end;
}
.header-links {
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 50px;
	align-items: center;
	justify-content: space-evenly;
}
.header-links a {
	color: #F1F1F1;
	font-family: helvetica, sans-serif;
	font-size: 23px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}
.header-links a:hover {
	color: #dc2430;
}
.head-container .head-logoBx {
	position: relative;
	width: 400px;
	height: 100px;
	z-index: 1;
	justify-items: center;
	align-items: center;
}
.head-container .head-logoBx img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	border-radius: 5px;
	object-fit: contain;
}
.consulting-content {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: auto;
	min-height: 800px;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}
 .consulting-content .consulting-left {
	display: block;
	width: 40%;
	height: auto;
	min-height: 800px;
}
 .consulting-content .consulting-left  img {
	max-width: 100%;
	max-height: 1000px;
	object-fit: contain;
}
 .consulting-content .consulting-right {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: auto;
	min-height: 800px;
	justify-content: center;
	align-items: center;
	color: #FFF;
	font-family: helvetica, sans-serif;
}
 .consulting-content .consulting-right ul {
	list-style-type: '- ';
}
 .consulting-content .consulting-right h1 {
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	font-family: helvetica, sans-serif;
	margin-bottom: 35px;
	margin-top: 35px;
}
 .consulting-content .consulting-right li {
	font-size: 30px;
	font-weight: 350;
	font-family: helvetica, sans-serif;
}
.bar {
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	background: linear-gradient(-45deg, #b62020, #cb2424, #fe2e2e, #fe5757, #fe8181);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}
.Featured { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: auto;
	margin-top: 25px;
	font-family: helvetica, sans-serif;
}
.Featured h1 {
	text-align: center;
	justify-self: center;
	align-self: center;
	font-size: 60px;
	font-weight: 600;
	margin-top: 0px;
}
.Featured h3 {
	justify-self: center;
	align-self: center;
	font-size: 35px;
	font-weight: 350;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #444444;
	margin: 0px;
	height: auto;
	margin-top: 15px;
}
.f-container{
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.about-content{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.product-content{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.contact-content{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	flex-wrap: wrap;
	font-weight: 300;
	font-size: 15px;
}
.about{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}
.products{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 300px;
	color: #F1F1F1;
	font-weight: 500;
	font-size: 20px;
}

.footer a:link {
  	text-decoration: none;
  	color: #F1F1F1;
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer a:visited {
  	text-decoration: none;
	color: #F1F1F1;
}
.socials-container ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.socials-container li {
	list-style: none;
	--color: #4a08c4;
}
.socials-container a {
	display: flex;
	width: 100px;
	height: 100px;
	background: #18191f;
	border-radius: 15px;
	box-shadow: -2px -2px 3px #ffffff0d, 3px 3px 3px #00000033;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
.prebuilt-button {
	text-decoration: none;
	margin: 10px;
	margin-top: 35px;
	margin-bottom: 45px;
	padding: 20px 40px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 20px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #f24a58;
	background-image: linear-gradient(45deg, #994bff 0%, #9a0a0a  51%, #994bff  100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.prebuilt-button:hover {
  	background-position: right center;
  	color: #fff;
  	text-decoration: none;
}
.prebuilt-button:active {
  	transform: scale(0.95);
}
.consulting-button {
	text-decoration: none;
	margin: 30px;
	justify-self: center;
	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	 transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #f24a58;
	background-image: linear-gradient(45deg, #994bff 0%, #9a0a0a  51%, #994bff  100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.consulting-button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}
.consulting-button:active {
	transform: scale(0.95);
}
.purchase-button {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	justify-self: center;
	padding: 7px 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #f24a58;
	background-image: linear-gradient(45deg, #994bff 0%, #9a0a0a  51%, #994bff  100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.purchase-button:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}
.purchase-button:active {
	transform: scale(0.95);
}
.fa-brands {
	font-size: 44px;
	color: #555;
}
.socials-container a:hover .fa-brands {
	color: var(--color);
	text-shadow: 0 0 30px var(--color);
}
.socials-container li:nth-child(1) {
	--color: 7014fa;
}
.socials-container li:nth-child(2) {
	--color: #14e3fa;
}
.socials-container li:nth-child(3) {
	--color: #f75814;
}
.socials-container li:nth-child(4) {
	--color: #e81010;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes spin {
	from{
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}

@media only screen and (max-width: 768px) {
  .consulting-content{
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	height: auto;
	min-height: auto;
  }
  .consulting-content .consulting-left, .consulting-content .consulting-right {
	min-height: auto;
  }
  .consulting-content .consulting-left{
	visibility: hidden;
	height: 100px;
	min-height:100px;
	max-height: 100px;
  }
  .consulting-content .consulting-right{
	width: auto;
  }
  .consulting-content .consulting-right h1{
	font-size: 50px;
  }
  .consulting-content .consulting-right li{
	font-size: 25px;
  }
  .head-container{
	flex-direction: column;
	align-items: center;
	justify-items: center;
	gap: 0px;
  }
  .head-container .header-links {
	  width: 100%;
  }
  .head-container .head-logoBx {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	width: 400px;
	height: 50px;
	justify-items: center;
	padding-bottom: 5px;
  }
  .head-container .head-logoBx .logo-link{
	height:100%
  }
  .footer{
	padding-bottom: 40px;
  }
  .f-container{
	flex-direction: column;
	height: auto;
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	align-content: center;
	justify-content: center;
  }
  .about, .contact, .products, .about-content, .product-content, .contact-content{
	align-content: flex-start;
  }
  .Featured h3{
	text-align: center;
	width: 452px;
	margin: 0px;
  }
  .socials-container{
	width: auto;
  }
  .socials-container ul{
	width: 260px;
	flex-wrap: wrap;
  }
}


